 @charset "utf-8";
/* CSS Document */
body
{
font-family: 'Lato', sans-serif;	
	}
	/* head_top=========== */

.head_top {
	width:100%;
	height:auto;
	float:left;
	border: 1px solid #979797;

}
.logo
{
padding:30px 0px;
float:left;
}
.head_right
{
float:right;
width:auto;
height: auto;
}
a:hover {
    
    text-decoration: none;
}

/* head_top=========== */
/* welcome=========== */
.welcome
{
width:100%;
	height:auto;
	float:left;
}
.welcome_right
{
width:100%;
	height:auto;
	float:left;
padding:157px 0px 0px 50px;
}
.img-flex
{
display:block;	
}
.welcome_left_img img
{
width:100%;
  height:901px;
  object-fit:cover;
      object-position: right center;
}
.welcome_text
{
font-size: 27px;
color:#000000;
text-align: left;
margin-bottom: 0px;
}
.welcome_title
{
font-size: 45px;
color:#CC2022;
text-align: left;
line-height:47px;
font-weight: 700;
margin-bottom: 0px;
}

.login_btm
{
margin-top: 38px;


}
.login_as_txt {
    font-size: 30px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    padding: 40px 0px 25px;
    margin-bottom: 0px;
}


.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login_main
{
max-width:393px;
	height:auto;
	margin-top:54px;
}
.login_main_input {
  margin-top: 29px;
  width: 424px;
  height: 56px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;
}

.login_btn
{
width:424px;
height: 56px;
text-align: center;
background-color: #CC2022;
color:#ffffff;
font-size:14px;
text-transform: uppercase;
font-family: arial;
font-weight: 700;
border-radius: 4px;
border: none;
margin-top:122px;
}
.login_btn:hover
{

background-color:#23AE8D;


	}

/* welcome=========== */
/* footer=========== */
.footer
{
width:100%;
	height:auto;
	float:left;
	padding: 35px 0px 28px 0px;
	background-color:#F5F5F5;
box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(176, 176, 176, 0.2); 

}
.footer p
{
margin-bottom: 0px;
color:#6F6F6F;
font-size:14px;

}
.ftr_right
{
text-align: right;

}
.ftr_left
{
text-align:left;

}

/* footer_ends=========== */
/* profile=========== */


.p_pic
{
float:left;
padding:17px 5px;

border-radius:50%;

}
.profile_dropdown
{
float:left;

}
.pro_dropbtn {
  background-color: #fff;
  color: white;
  padding: 36px 0px 0px 5px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.profile_dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CC2022;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.profile_dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.profile_dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* admin=========== */
.admin_main
{
float:left;
width:100%;
height:auto;
}
/* Important styles */
#toggle {

  width: 28px;
  height: 30px;
  margin: 40px auto 10px;
 float: left;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #CC2022;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu 
{
    position: absolute;
    color: #999;
    width: 170px;
    padding: 10px;
    float:left;
    text-align: left;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    top: 74px;
        z-index: 99;
    }
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
.menu ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.menu ul li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
.menu ul li a:hover,
.menu ul li a:focus {
  background: #1ABC9C;
  color: #fff;
}


/* demo styles */
.sidebar_1
{
float:left;
width:100%;
height:auto;
border-right: 1px solid rgba(176, 176, 176, 0.5); 

}
.sidebar_1 ul
{
float:left;
width:100%;     
height:auto;
padding-left: 0px;
}
.sidebar_1 li
{
float:left;
width:100%;
height: 70px;
background-color: #FFFEFE;
list-style-type: none;
display: block;
border-bottom: 1px solid rgba(176, 176, 176, 0.5); 
}
.sidebar_1 li a
{
float:left;
width:100%;
list-style-type: none;
display: block;

}
.admin_icon
{
padding:23px 25px;
float:left;
    width: 79px;
}
.admin_menu
{
font-size: 18px;
color:#000000;
padding: 27px 0px 21px 0px; 
}
.admin_menu:hover
{
font-weight: 700;
}
.hme_title
{
  width: 100%;
font-size: 24px;
color:#000000;
text-align: left;
padding: 17px 33px;
border-bottom: 1px solid rgba(151, 151, 151,.2);
}
.head_right {
    float: right;
    width: auto;
    height: auto;
}
.p_pic {
    float: left;
    padding: 17px 5px;
    border-radius: 50%;
}
.profile_dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.profile_dropdown {
    float: left;
}
.profile_dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}
.hme_main {
    float: right;
    width: 100%;
    height: auto;
    border-right: 1px solid rgba(151, 151, 151,.2);
margin-right: 15px;
    border-left: 1px solid rgba(151, 151, 151,.2);

}
.admin_menu:visible .hme_main
{
border: 5px solid black;

}
.sidebar_1 {
    float: left;
    width: 23%;
    min-height:700px;
    
}

@media (min-width:767px)
{

.hme_main {
    
    min-height:700px;
    
}

}
@media (max-width:767px)
{

.sidebar_1 {
    float: left;
    width: 100%;
    min-height:700px;
    
}
}
@media (max-width:575px)
{ 


.ftr_left, .ftr_right {
    text-align: center;
    margin:10px 0px;
} 
}

/*---------------/
