 @charset "utf-8";
/* CSS Document */


@font-face {
  font-family: Geeza Pro Regular;
  src:url(..font/Geeza%20Pro%20Regular.ttf);
  font-weight:regular;
}

.row
{
	flex-direction: row-reverse;}
	.row_except
	{
	flex-direction:row !important;	}
body
{
 font-family: Geeza Pro Regular;
	}
	
	/* head_top=========== */

.head_top {
	width:100%;
	height:auto;
	float:left;
	border: 1px solid #D0D0D0;
flex-direction: row-reverse;
}
.logo
{
padding: 37px 0px 30px;
    float: right;
}
.head_right
{
float: left;
    width: auto;
    height: auto;
    display: flex;
	flex-direction: row-reverse;
}

a:hover {
    
    text-decoration: none;
}
.menu_active
{
 color: #CC2022 !important;
    border-bottom: 3px solid #CC2022;
    padding: 32px 0px 31px 0px !important;   

}
.navbar-nav {
   
    direction: rtl;
}
.language_btn
{
float: left;
    border: 1px solid #E7DBDB;
    font-size: 14px;
    color: #6F6F6F;
    width: 67px;
    height: 24px;
    margin: 37px 15px 30px 0px;
    border-radius: 3px;
    background-color: #fff;
	font-family:lato;
    padding: 0px 0px;
}
.language_btn.active, .language_btn:hover {
 border: 1px solid #23AE8D; 
}
.dropdown-toggle:after { content: none }

ul.dropdown-menu.dropdown_lng.show {
    width: auto;
    padding: 10px;
     border: 1px solid #E7DBDB;
    font-size: 14px;
    color: #6F6F6F;
}
ul.dropdown-menu.dropdown_lng a {
    
    color: #6F6F6F;
}
 
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
.navbar-toggler {
    padding: 26px .75rem;
    font-size: 23px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
	    float: right;
}

/* head_top=========== */
/* welcome=========== */
.welcome
{
width:100%;
	height:auto;
	float:left;
}
.welcome_right
{
width:474px;
	height:auto;
	float:left;
padding:38px 0px 0px 50px;
}
.img-flex
{
display:block;	
}
.welcome_left_img img
{
width:100%;
  height:901px;
  object-fit:cover;
      object-position: right center;
}
.welcome_text
{
font-size: 27px;
color:#000000;
text-align:right;
margin-bottom: 0px;
font-family: Geeza Pro;
}
.welcome_title
{
font-size: 45px;
color:#CC2022;
text-align:right;
line-height:47px;
font-weight: 700;
margin-bottom: 0px;
font-family: Lato;
}
.welcome_title_login
{
font-size: 30px;
color:#000000;
text-align:right;
line-height:47px;
font-weight: 700;
margin-bottom: 0px;
font-family: Geeza Pro;
}






.login_as_txt
{
font-size: 30px;
color:#000000;
text-align: left;
text-transform: uppercase;
padding:40px 0px 25px;
margin-bottom: 0px;
}
.login_btm
{
margin-top: 38px;


}
/* The container */
.radio_container, .rmbr_container {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#000000;
      margin-left: 19px;
  font-family: Geeza Pro;
  float: right;
}

/* Hide the browser's default radio button */
.radio_container input, .rmbr_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

/* radio button */
.check_mark, .checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color:#D8D8D8;
  border-radius: 3px;
  border:1px solid #979797
;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .check_mark,.rmbr_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .check_mark,.rmbr_container input:checked ~ .checkmark {
  background-color: #23AE8D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check_mark:after, .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .check_mark:after, .rmbr _container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .check_mark:after, .rmbr_container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;    
	height: 8px;
	border-radius: 50%;
	background: #23AE8D;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login_main
{
max-width:393px;
	height:auto;
	margin-top:54px;
}
.login_main_input {
  margin-top: 29px;
  width: 424px;
  height: 56px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;
      text-align: right;
	  font-family: Geeza Pro;
}
.remember_input {
  margin-top: 24px;
  width: 22px;
  height: 22px;
  border: 1px solid #CDCDCD;
  background-color: #ffffff;
}
.fgw
{
width: 424px;
    margin-top: 10px;
    float: left;}
.register-link
{
float:right;
width:50%;	
}
.rmbr_container
{
    float: right;
   
    color: #000000;
    font-size: 16px;
}
.checkmark_remember
{
float: left;
    width: 22px;
    height: 22px;
    margin-right:10px;
    background-color: #D8D8D8;
    border-radius: 3px;
    border: 1px solid #979797;	
}


.forget_link
{
font-size:16px;
text-align: left;
color:#000000;
}
.forget_link:hover
{
text-decoration: none;
color:#23AE8D;
}
.login_btn
{
width:424px;
height: 56px;
text-align: center;
background-color: #CC2022;
color:#ffffff;
font-size:14px;
text-transform: uppercase;
font-family: arial;
font-weight: 700;
border-radius: 4px;
border: none;
margin-top:25px;
}
.login_btn:hover
{

background-color:#23AE8D;


	}
  
.signup_link
{
float: left;
    color: #000000 !important;
    font-size: 21px;
text-align:right;
width:421px;
margin-top: 20px;
    font-family: Geeza Pro;
}
.red_signup
{
color:#CC2022;
text-transform: uppercase;
text-decoration: underline;
font-weight: 700;
cursor: pointer;
   


}
.red_signup:hover
{

color:#23AE8D;


	}
/* welcome=========== */
/* footer=========== */
.footer
{
width:100%;
	height:auto;
	float:left;
	padding: 35px 0px 28px 0px;
	background-color:#F5F5F5;
	font-family: Lato;
;

}
.footer p
{
margin-bottom: 0px;
color:#6F6F6F;
font-size:14px;

}
.ftr_right
{

text-align:left;
}
.ftr_left
{
text-align: right;

}

/* footer_ends=========== */
/* profile=========== */

.menu
{
float:left;
width:100%;
height: auto;
margin-bottom:0px;
padding-left: 0px;
}
.menu  li 
{
float:left;
display: inline-block;
list-style-type: none;

}


.menu  li a
{
float:left;
display: inline-block;
list-style-type: none;
text-transform: capitalize;
color:#000000;
font-size: 24px;
    padding: 32px 0px 34px 0px;
font-weight: 700;
margin:0px 20px; 
}
.menu  li a:hover 
{
color:#CC2022;
border-bottom:3px solid #CC2022;
padding: 32px 0px 31px 0px;

}

.r2g_nav
{
float: right;
height: auto;
margin-bottom:0px;
    padding: 0px;


}
.r2g_nav_item a
{
float:left;
display: inline-block;
list-style-type: none;
text-transform: capitalize;
color:#000000;
font-size: 24px;
    padding: 32px 0px 34px 0px;
font-weight: 700;
margin:0px 20px;
}
.r2g_nav_item a:hover 
{
color:#CC2022;
border-bottom:3px solid #CC2022;
padding: 32px 0px 31px 0px;

}

.p_nw
{
  
    float:left;
padding: 34px 19px 34px 19px;
       margin-left: 18px;
}
.nw_active
{
background-color:#CC2022;	
	
	}
.p_pic
{
float:left;
padding:17px 5px;

border-radius:50%;

}
.profile_dropdown
{
float:left;

}
.pro_dropbtn {
  background-color: #fff;
  color: white;
  padding: 36px 0px 0px 5px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.profile_dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.profile_dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.profile_dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* profile_sectn=========== */

.profile_sectn
{
float:left;
width:100%;
height: auto;
background-color:#F5F5F5;
}
.pro_pic
{
width: 161px;
    height: 161px;
    border: 1px solid #D4CECE;
    border-radius: 50%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;  
}
.name
{    color: #C22022;
    font-size: 16px;
    padding: 3px 3px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 9.5px;
    border: 1px solid #A4A4A4;
    width: 136px;
    margin: 7px auto;
    display: block;
}
.pro_detai1
{
    float: left;
    width: 100%;
    height: auto;
    padding: 44px 15px 10px 15px;
    border-left:1px solid rgba(151, 151, 151,.5);
}
.pro_name
{
color: #000;
font-size: 30px;
padding: 1px 3px;
text-align: right;
font-weight: 400;
float: right;
}
.pro_mail
{
color: #000;
    font-size: 21px;
    padding: 1px 3px;
    text-align: right;
    font-weight: 400;
    font-family: lato;
    float: right;
    width: 100%;
}
.pro_detail
{
color: #000;
font-size: 21px;
padding: 30px 3px;
text-align: right;
max-width:524px;
min-height:98px;
font-weight: 400;
line-height: 35px;
    float: right;
}
p
{
margin-bottom:0px;
}
.edit_icon
{
float:right; 
    cursor: pointer;
	padding-right: 70px; 
}
.pro_cnt_detai1
{
padding: 18px 0px;
 width: 100%;
   float: left; 
}
.mob_no
{float: left;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    padding: 15px 0px;
    text-align: right;
 width: 277px; 
    display: flex;
    flex-direction: row-reverse;
}
.mob_icon
{
   float: right;
    padding: 8px;
}
.no
{
    padding: 24px 22px 24px 0px;
   float: left;
   font-family:lato;
}
.cntry_no
{
       float: left;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    padding: 15px 0px;
    text-align: right;
    width: 277px;
    display: flex;
    flex-direction: row-reverse;
}
.cntry_icon
{
  float:left;
 padding:10px 10px; 
}
.cntry
{
padding: 13px 16px 13px 0px;
    float: right;
}
.experience
{
float: left;
    width: 100%;
    height: auto;
    padding: 54px 0px 5px 0px;

}
.experience_sectn
{
float: left;
    width: 100%;
    height: auto;
    padding-bottom: 108px;
    background-image: url(../img/profile_bg.jpg );
    background-size: cover;
    background-repeat: no-repeat;
background-position: bottom center;
}
.exp_title
{
float: left;
width:100%;
text-align:left;
text-transform: uppercase;
    color: #000;
    font-size: 30px;
	    text-align: right;
    }
.exp_icon
{
float: left;
    cursor: pointer;
} 
.exp_btm_sectn
{
float:left;
width:100%;
height:auto;
padding: 18px 0px;
border-bottom: 1px solid rgba(151, 151, 151,.27)
}
.exp_btm_title
{
float: left;
width:100%;
text-align: right;
text-transform:capitalize;
color: #000;
font-size: 30px;
}
.exp_btm_dscptn
{
float: right;
max-width:650px;
text-align:right;
color: #000;
font-size: 21px;
line-height: 35px;
min-height: 75px;
}
.exp_btm_dscptn_1
{
float: left;
max-width:650px;
text-align:left;
color: #000;
font-size: 21px;
line-height: 35px;

}
.founder
{

 max-width:906px; 
}
.acrdn
{
float: left;
    padding-top: 10px;
    cursor: pointer;}
    .brdr_none
    {
     border:none !important; 
    }
#matrix_content {
    display: none;
}

/* resource_sectn=========== */
.resource {
    float: left;
    width: 100%;
    height: auto;
    padding: 40px 0px;
    background-color: #F5F5F5;
}
.rse_title
{
    float: left;
    width: 100%;
        text-align: right;
    text-transform:capitalize;
    color: #000;
    font-size: 40px;

}
.rse_note
{
float: left;
    width: 100%;
       text-align: right;
    
    color: #000;
    font-size: 21px;

}
.resource_tab
{
float:left;
width:100%;
height:auto;
padding: 40px 0px;

}

#tab-button {
  display: flex;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row-reverse;
}
#tab-button li {
 display: inline-block;
    padding-left: 64px;
}
#tab-button li a {
  display: block;
  padding-right: : 64px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #979797;
  text-decoration: none;
}
#tab-button li a:hover {
color:#000;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
color: #000;
}
.tab-contents {
  padding: 0px 0px;
  
}
.tab_box
{
width:261px;
height:256px ;
margin-top: 24px;
padding: 23px 18px;
border-radius: 17px;
    float: right;
margin-right: 22px; 
background-size: cover;
background-repeat: no-repeat;
background-position: bottom center;
}




.tab-contents 
{
margin-top: 20px;
}
.rse_tab
{
padding-left:0px;
}
.tab_title
{
    text-align: right;
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-weight: 700;
}
.tab_note
{
padding: 50px 0px 5px 0px;
    text-align: right;
line-height: 29px;
color: #fff;
    text-transform: capitalize;
    font-size: 21px;
	    min-height: 113px;
}
.tab_btn
{
width: auto;
    height: 56px;
    color: #CC2022;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-family: Arial;
    margin-top: 20px;
    padding: 0px 20px 0px 26px;
    text-transform: uppercase;
	cursor:pointer;
	float: right;
}
.tab_btn:hover {
   
    color: #000;
}
.training_bg
{
background-image: url(../img/article_bg.jpg);
    


}
.vdo_bg
{
background-image: url(../img/vdo_bg.jpg );
}
.case_bg
{
background-image: url(../img/case_bg.jpg );
}
.article_bg
{
  background-image: url(../img/training_bg.jpg);
} 
.vdo_1_bg
{
background-image: url(../img/vdo1_bg.jpg );
}
.vdo_2_bg
{
background-image: url(../img/vdo_2_bg.jpg );
}
.article_1_bg
{
 background-image: url(../img/article1_bg.jpg );
}
.tab-contents {
    
}
#style_tab::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
background-color: #fff;
}

#style_tab::-webkit-scrollbar
{
width: 4px;
background-color: #F5F5F5;
height:57px;    
}

#style_tab::-webkit-scrollbar-thumb
{
background-color:#D8D8D8;
border-radius: 3.5px;
height:57px;
}
.scrollbar
{

float: left;
height: 566px;

background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}

.force-overflow
{
min-height: 450px;
}
.chat
{
width: 100%;
    height: auto;
	position:relative;
   
	}
.chat_icon
{
 position: absolute;    right: 100px;
    bottom: 84px;;
}
/* point_div=========== */
.point_div
{
float:left;
width:100%;
height: auto;
background-color:#000;
}
.point_title
{
color: #fff;
    font-size: 45px;
    padding: 23px 0px 36px 0px;
        text-align: right;
    font-weight: 400;
line-height: 50px;
   width: 160px;
    float: right;
}
.date_main
{
 width: auto;
    height: auto;
    float: right;
    display: flex;
    flex-direction: row-reverse;
}
.date
{
float: left;  
width:165px;
height: 56px;
padding: 20px 11px 17px 11px;
background-color:#FFFFFF;
color:#454545;
font-size: 16px;
border-radius: 10px;
margin: 41px 0px 70px 28px;
text-align: right;  
}
.cal_icon
{
float:right; 
padding: 1px 0px 0px 10px; 
}
.date_1
{
  float:left;
width:auto;
height: 56px;
  
}
.date_1 input
{
float: left;  
width:auto;
height: 56px;
padding: 13px 20px 11.5px 17px !important;
background-color:#FFFFFF !important;
color:#454545 !important;
font-size: 16px;
border-radius: 10px !important;
margin:41px 28px 70px 0px !important;
  


}
.two_fields
{
width: auto;
float: left;
margin-left: 28px;
display: flex;
    flex-direction: row-reverse;
}
.field
{
    width: 268px;
    float: left;
    margin-left: 28px;
}
.filter_icon
{
float:right;
padding:57px 0px;
}
/* table_sectn =========== */
.table_sectn
{
float:left;
width:100% 

}
.stmnt_table
{
float:left;
width:100%;
height:auto;
}
.stmnt_table th
{
padding: 35px 0px 0px 0px;
text-align: right;
color:#626262;
font-size: 18px;
}
.stmnt_table tr {
    padding: 29px 0px;
    text-align: right;
    color: #000;
    font-size: 21px;
    line-height: 38px;
    vertical-align: top;
    /* float: left; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.tble_cnt
{
      width: 488px;
    float: right;
    padding-left: 141px;

}
.date_sn
{
width:180px;
    float: left;
}
.dscptn_sn
{
width:488px;
}
.rc_sn
{
width:264px;
}
.rp_sn
{
width:148px;
}
.top_tr
{
padding:0px 0px !important;

}
.ui_input
{
padding: 20px 11px 17px 11px !important;
color: #454545 !important;  
}
.ui[class*="left icon"].input>input {
    padding-left: 11px !important;
    padding-right: 11px !important;
    width:268px;
	text-align: right;
}
.total
{
font-size: 45px !important;
    font-weight: 700;
    color: #454545;
    line-height: 46px;
}
.gray
{color:#454545;
}
.hgt
{
height: 38px; 
}
/* network=========== */
.network
{
float:left;
width:100%;
height:auto;
padding-top:44px;   
}
.ntwk_title
{
float: left;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-size: 40px;
    padding-bottom:35px;  
}
.btm_box_main
{

       max-width: 696px;
height:auto;
margin:0px auto;
display: block;
 
}
.btm_box
{
float: left;
    width:232px;
height:57px;
text-align: center;
}
.btm_box_title
{
color:#545454;
font-size:21px;
text-transform: capitalize;
}
.btm_box_number
{
color:#000;
font-size:35px;

  
}
.middile
{
border-left: 1px solid #cfcfcf;
border-right:1px solid #cfcfcf;
}
/* welcome=========== */

.network_digm
{
width:100%;
float:left;
height:auto;
padding:30px 0px 0px 0px;
}
.network_top
{
width:100%;
float:left;
height:auto;
padding:30px 0px 0px 0px;
}
.nt_name
{
    color: #C22022;
    font-size: 16px;
    padding: 3px 3px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 9.5px;
    border: 1px solid #A4A4A4;
    width: 136px;
    margin: 7px auto;
    display: block;

    margin-bottom: 0px;

}
.network_second
{
width:100%;
height:auto;

}
.network_second_sub
{
width:100%;
float:left;
height:auto;
padding:12px 0px 7px 0px;
text-align: center;
}

.network_second_sub:hover
{
background-color:#C22022;

  }


.network_second_sub:hover .nt_sub_name
{
color:#fff;
  }


.network_second_sub:hover .nt_sub_name
{


  }
  .network_second_sub:hover .network_second_sub_1  
{

border-top:1px solid #C3C3C3;  
color:#fff !important;
}

.nt_sub_name
{
   
    font-size: 21px;
    color:#0E0E0E;
   padding-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
   
   }
   .network_second_sub_1
   {
width:100%;
float:left;
height:auto;
 border-top:1px solid #E6E6E6;

 }
 .second_sub
 {
  width:50%;
float:left;
height:auto;
text-align: center;
 color:#515151

 }
 .network_second_sub:hover .second_sub 
{

 
color:#fff !important;
}
 .second_sub p
 {
    font-size: 24px;
    padding: 3px 3px;

 }
 .small_text
 {
 font-size: 12px !important;

 }
 .network_third_main
 {
width:100%;
float:left;
height:auto;

}
.network_third_main_sub
{
width:50%;
float:left;
height:auto;

}
.third_sub
{
width: 19.5%;
    float: left;
       height: 143px;
    border: 1px solid #E6E6E6;
    padding: 12px 0px 7px 0px;
    text-align: center;

}

.third_sub_name
{
    color: #000000;
    font-size: 12px;
        padding: 5px 0px 0px 0px;
    text-transform: capitalize;
    text-align: center;
}
.third_sub_customer
{
font-size: 24px;
    padding: 3px 3px;
    line-height: 22px;
}
.third_sub_r {
    width: 20%;
    float: left;
    height: 66.5px;
    border: 1px solid #E6E6E6;
    padding: 7px 0px 7px 0px;
    text-align: center;
}
p
{
 margin-bottom: 0px; 
}
.mrgn_right
{
padding-right: 5px

}
.mrgn_left
{
padding-left: 5px

}
.mt
{
padding-top:10px;
float:left;
}
.w-100
{
 width:100%; 
}


 

/*tab */
.network_tab_main
{
float:left;
width:100%;
height:auto;

}
.network_tab_main nav {


}
.network_tab_main nav > .nav.nav-tabs{

  border: none;
    color:#fff;
   
    border-radius:0;
	

}
.network_tab_main nav > div a.nav-item.nav-link,
.network_tab_main nav > div a.nav-item.nav-link.active
{
  width: 20%;
    float: left;
    height: auto;
    border: 1px solid #E6E6E6;
        padding: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 0px;
}
.network_tab_main nav > div a.nav-item.nav-link.active .network_second_sub
{
    background-color: #C22022;

}

.network_tab_main nav > div a.nav-item.nav-link.active .nt_sub_name
{
 color:#fff; 
}
.network_tab_main nav > div a.nav-item.nav-link.active .second_sub
{
 color:#fff; 
}
.tab-content{
float: left;
width: 100%;
margin-top: -15px;
}

.network_tab_main nav > div a.nav-item.nav-link:hover,
.network_tab_main nav > div a.nav-item.nav-link:focus
{
  
    background: #C22022;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
/*  line   */
 .circle
{
  width: 4px;
    height: 4px;
    border:1px solid #979797;
    border-radius:50%;
   background-color: #fff;
    float: right;
  }
  .linemain
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left 
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1
{
float: left;
width: 100%;
height: auto;
padding-left:23%;
padding-right:23%;
}

.line_down_left_1 
{
float:left;
width: 50%;
height: 48px;
text-align: right;
color:#000000;
font-size:24px;
border-bottom:1px solid #C4C4C4;
padding: 10px 10px;
}
.line_down_right_1
{
float:left;
border-left:1px solid #979797;
width: 50%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}
.nw_arw_rght
{    padding-right: 5px;
}
.nw_arw_lft
{padding-left: 10px}
.linemain_2
{
float: left;
width: 100%;
height: 54px;
padding-left:23%;
padding-right:23%;

}
.line_btm
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}

/*..line_fst....*/
 .linemain_fst
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down_fst
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left_fst 
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right_fst
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1_fst
{
float: left;
width: 100%;
height: auto;
padding-left:1%;
padding-right:23%;
}

.line_down_left_1_fst 
{
float:left;
width: 22%;
height: 48px;
text-align: right;
color:#000000;
font-size:24px;
border-bottom:1px solid #C4C4C4;
padding: 10px 10px;
}
.line_down_right_1_fst
{
float:left;
border-left:1px solid #979797;
width: 78%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}

.linemain_2_fst
{
float: left;
width: 100%;
height: 54px;
padding-left:1%;
padding-right:23%;

}
.line_btm_fst
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}
/*..line_scnd....*/
/* .linemain_scnd
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down_scnd
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left_scnd 
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right_scnd
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1_scnd
{
float: left;
width: 100%;
height: auto;
padding-left:23%;
padding-right:23%;
}

.line_down_left_1_scnd 
{
float:left;
width: 50%;
height: 48px;
text-align: right;
color:#000000;
font-size:24px;
border-bottom:1px solid #C4C4C4;
padding: 10px 10px;
}
.line_down_right_1_scnd
{
float:left;
border-left:1px solid #979797;
width: 50%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}
.line_btm_scnd {
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    float: left;
    width: 100%;
    height: 54px;
}

.linemain_2_scnd
{
float: left;
width: 100%;
height: 54px;
padding-left:23%;
padding-right:23%;

}*/

/*line_third*/
.line_btm_scnd
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}
 .linemain_scnd
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down_scnd
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left_scnd 
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right_scnd
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1_scnd
{
float: left;
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 23%;
}

.line_down_left_1_scnd
{
float: left;
    width: 35%;
    height: 48px;
    text-align: right;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C4C4C4;
    padding: 10px 10px;
}
.line_down_right_1_scnd
{
float: left;
    border-left: 1px solid #979797;
    width: 65%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}

.linemain_2_scnd
{
float: left;
    width: 100%;
    height: 54px;
    padding-left: 4%;
    padding-right: 23%;

}
.line_btm_scnd
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}

/*..line_thrd_end....*/
/*..line_fst....*/
 .linemain_frth
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down_frth
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left_frth 
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right_frth
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1_frth
{
float: left;
width: 100%;
height: auto;
padding-left:23%;
padding-right:1%;
}

.line_down_left_1_frth
{
float:left;
width: 62%;
height: 48px;
text-align: right;
color:#000000;
font-size:24px;
border-bottom:1px solid #C4C4C4;
padding: 10px 10px;
}
.line_down_right_1_frth
{
float:left;
border-left:1px solid #979797;
width: 21%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}

.linemain_2_frth
{
float: left;
width: 100%;
height: 54px;
padding-left: 23%;
padding-right: 13.5%;

}
.line_btm_frth
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}
/*..line_fst....*/
 .linemain_ffth
{
float: left;
width: 100%;
height: auto;
}
 
  .line_down_ffth
  {
width:1px;
height:22px;
background-color: #979797;  
float: right;
  }

.line_down_left_ffth
{
float:left;
width: 50%;
height: 38px;
}
.line_down_right_ffth
{
float:left;
width: 50%;
height: auto;
color:#000000;
font-size:24px;
text-align: right;
border-left:1px solid #979797;
}

.linemain_1_ffth
{
float: left;
width: 100%;
height: auto;
padding-left:23%;
padding-right:1%;
}

.line_down_left_1_ffth
{
float:left;
width: 79%;
height: 48px;
text-align: right;
color:#000000;
font-size:24px;
border-bottom:1px solid #C4C4C4;
padding: 10px 10px;
}
.line_down_right_1_ffth
{
float:left;
border-left:1px solid #979797;
width: 21%;
    height: 48px;
    text-align: left;
    color: #000000;
    font-size: 24px;
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 10px;
}

.linemain_2_ffth
{
float: left;
width: 100%;
height: 54px;
padding-left: 23%;
padding-right: 1%;

}
.line_btm_ffth
{
border-left: 1px solid #C8C8C8;
border-right: 1px solid #C8C8C8;
 float: left;
width: 100%;
height: 54px; 
}
.bg-light {
    background-color: #fff !important;
}
.more
{
color: #C22022;
    font-family: Arial;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
   font-size:14px;
    float: right;
  margin:20px 0px 65px 0px; 
  }
  .more:hover
{
  color:#000;
}
.main_div
{
  display:table;
    min-width:none;
    float: left;
}
/*network_updtn*/
/*Commented on 12-05-2020*/
/**
.network_third_main_cusonly {
    max-width: 50% !important;
    float: right;
    height: auto;
  
}
.linemain_2_frth {
   display: none;
}
.line_down_right_1_frth {
	display:none;
}
.linemain_1_frth {
    max-width: 50% !important;
    float: none !important;
    height: auto;
    margin: 0px auto;
}
.line_down_left_1_frth {
    float: left;
    width: 42%;
    height: 48px;
    text-align: right;
    color: #000000;
    font-size: 24px;
    
    border-right: 1px solid #C4C4C4;
    padding: 10px 10px;
    margin-left: 51%;
}
.line_btm_frth
{
display: none;
}
**/


/*....credit_div...*/
.credit_div
{
float: left;
    width: 100%;
    height: auto;
    background-color: #d6d4d4;	
	
	
}
.credit_title
{
color: #fff;
    font-size: 28px;
    padding: 16px 15px 16px 15px;
    text-align: left;
    font-weight: 400;
    line-height: 45px;
}
.credit_title a
{
color: #fff;
}
.credit_title:hover, .credit_active
{
background-color: #cc2022;		
	}
	
	
/*....24/4/2020...*/

.date_new
{
float: left;
   
    height: auto;	
	
	}
	.date_new input
{ padding: 15px 11px 17px 10px !important;
    color: #454545 !important;
    width: 200px;
    color: #454545;
    font-size: 16px;
    border-radius: 10px;
    margin: 41px 32px 70px 0px;
}
.ui_input_1
{
  width: 200px !important;	
	
	}
	.field_1 {
    width: 200px;
    float: left;
    margin-right: 32px;
	}
.gray_ar
{
	background-color:#F5F5F5;
}


.login_as_txt{
	text-align: right;
}


#register-link{
text-align: left !important;	
}
	